<link rel='stylesheet' href='/stylesheets/index.css' />
<div class="row main-container" ng-app="myApp" ng-controller="myCtrl" ng-click="onContainer()">
  <div class="col-md-3">
    <div class="home-logo">
      <img ng-src="\{{model.bankLogoUrl}}" alt="">
    </div>
    <div class="branch-logo">
      <img ng-src="\{{model.branchLogoUrl}}" alt="">
    </div>
  </div>
  <div class="col-md-9 right-content" ng-class="{'back-img': model.isUseDefaultBackImage == true}" ng-style="model.branchBackImageStyle">
    <div class="home-content">
      <div class="space-8"></div>
      <div class="row content-header">
        <div class="col-md-6">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span ng-bind="model.branchName"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="onExit()">退出</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="search-group">
            <form name="search-form">
              <div class="search-result" ng-if="model.isShowSearchResult">
                <ul>
                  <li ng-repeat="searchResult in model.searchResultList"
                      ng-mouseenter="onMouseEnter($index)"
                      ng-mouseleave="onMouseLeave($index)"
                      ng-click="onSelectedSearchItem(searchResult.filePath)"
                      ng-click="onSelectedSearchItem(searchResult.filePath)"
                      ng-class="{'on': searchResult.isMoveOver == true}">
                    <span ng-bind="searchResult.archiveName"></span>
                  </li>
                </ul>
              </div>
              <input type="search" class="form-search" ng-change="onSearchChange()" ng-model="model.searchContent" placeholder="在此键入您想搜索的图片或文件的标题">
              <span class="glyphicon glyphicon-search" style="margin-top: 6px; font-size: 16px"></span>
            </form>
          </div>
        </div>
      </div>
      <div class="row content-body">
        <div class="col-md-6 title">
          <h1>Welcome</h1>
          <span ng-bind="model.branchSystemTitle"></span>
        </div>
        <div class="col-md-6 no-padding-right">
          <div class="module">
            <ul>
              <li ng-repeat="module in model.branchModuleList">
                <a ng-href="\{{module.moduleLinkUrl}}" target="_blank">
                  <img ng-src="\{{module.moduleIconUrl}}" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row content-news">
        <div class="col-md-6 title-text">
          新闻该要
        </div>
        <div class="col-md-6">
          <a href="/newsList" target="_blank" class="btn-more-news news-header-right">
            更多新闻
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
      </div>
      <div class="row content-news-item">
        <ul>
          <li ng-repeat="news in model.branchNewsList">
            <a ng-href="\{{news.newsLinkUrl}}" target="_blank">
              <img ng-src="\{{news.newsImageUrl}}" alt="">
            </a>
            <div class="des">
              <p ng-bind="news.newsTitle"></p>
              <p ng-bind="news.newsDate"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="javascripts/index.js"></script>